/* Write your custom CSS here */
.pic {
    overflow-y: auto; 
    overflow-x: hidden;
    width:100%; 
    height:450px;
}

.pic img {
	max-height:60px;
	max-width: 100%;
	cursor:pointer;
}

.pic ul {
	display:none;
    overflow-y: auto;
    overflow-x: hidden;
}

.pic ul.on{
	display:block;
}

.sketch {
	position: relative;
	width: auto;
	height: 100vh;
	overflow: auto;
    background: url(../images/trans.png);
  }

#bg {
    position: absolute;
}

.draggable {
    position: absolute;
}

.draggable:hover {
    border-style: solid;
    border-color: lightblue;
}

.box {
	position: relative;
}

.active-component{
    border-style: solid;
    border-color: red;
    z-index: 10;
}

.thumb{
    width:100%;
	height:auto;
}

.my-preview-img{
    margin-left: 10px;
    width: 85%;
}

.my-preview-img-active{
    border: 2px lightblue solid;
}

.my-preview-active{
    background: rgba(51, 122, 183, 0.5);
}

.page-sidebar{
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

#board{
    position: relative;
    width: 100%;
    height: 100%;
}

#show_kits{
    text-align: center;
    width: 150px;
    height: 100vh;
    position: absolute;
    z-index: 1;
    background: white;
}

.pop-up{
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, .3);
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

#additional-model{
    width: 450px;
    height: 300px;
    /*background: rgb(51 122 183);*/
    background: white;
    position: absolute;
    top: 20%;
    left: 30%;
}